body {
	background-color:transparent;/*#EDF1F8;*/
	text-align: center;
font-size:small;
color:black;
	}
img{
border: none;
margin: 0;
}

.input{
background-color: #ffefd5 ;
font-family: arial, helvetica, sans-serif ;
color: red ;
}

.option{
background-color: #ffefd5 ;
}

.select {
background-color:
#ffefd5 ;
}

.textarea {
background-color: #ffefd5 ;
color: red ;
}

.button { font-family: arial, helvetica, sans-serif ;
border-width: 2pt ;
 font-size: 16pt ;
 color: black ;
 top: 250px ;
 background-color: #f5deb3 ;
 }


.left50{float:left;width:50%;}


.libelle {
	background-color: #CAE3FF;
	text-align: left;
	}


table {
border-color:black;
border-style:solid;
border-width:0px;
text-align:center;
border-spacing: 1px;

}
/*///*/
td {
	font-family:verdana, sans-serif;
	font-size:x-small;
	color:#000000;
	text-align: left;
	padding:4px;
	vertical-align: middle;
	border: 1px;
	background-color:#E6F7FF
}
td.highlight {
	font-family:verdana, sans-serif;
	font-size:x-small;
	color:#000000;
	text-align: left;
	padding:4px;
	vertical-align: middle;
	border: 1px ;
}
/*//////*/
td.page{
text-align:center;
}
table.page {
border-style:solid;
border-width:0px;
border-spacing: 0px ;
border:thin solid #BBBBBB;
text-align:center;
}

h1 {
font-family:arial, sans-serif;
font-size:small;
color:red;
background-color:transparent;
text-align:center;
font-weight: bold;
}
h2 {
font-family:arial, sans-serif;
font-size:medium;
color:green;
background-color:transparent;
text-align:center;
}
h3 {
font-family:verdana, sans-serif;
font-size:large;
color:black;
background-color:transparent;
text-align:center;
font-weight: bold;
}

h4 {
font-family:verdana, sans-serif;
font-size:large;
color:black;
background-color:transparent;
text-align:center;
}

h5 {
font-family:verdana, sans-serif;
font-size:medium;
color:black;
background-color:transparent;
text-align:center;
	font-weight: bold;
}

h6 {
font-family:verdana, sans-serif;
font-size:medium;
color:black;
background-color:transparent;
text-align:center;
}

p {
font-family:verdana, sans-serif;
font-size:small;
color:green;
background-color:transparent;
text-align:center;
margin-left:0px;
margin-right:0px;
}
li {
font-family:verdana, sans-serif;
font-size:small;
color:black;
background-color:transparent;
text-align:center;
margin-left:0px;
margin-right:0px;
}
a:link {
font-family:verdana, sans-serif;
font-size:small;
color:blue;
background-color:transparent;
text-decoration:underline;
}
a:visited {
font-family:verdana, sans-serif;
font-size:small;
color:black;
background-color:transparent;
text-decoration:underline;
}
a:hover {
font-family:verdana, sans-serif;
font-size:small;
color:navy;
background-color:transparent;
text-decoration:underline;
}
.tbrien {
border-color:black;
border-style:solid;
border-width:0px;
text-align:left;
border-spacing: 1px
}

tr {
	font-family:verdana, sans-serif;
	font-size:x-small;
	color:#000000;
	text-align: center;
	padding:4px;
	vertical-align: middle;
	border-color:grey;
	border: 1px;
	background-color:#E6F7FF;
}
tr.highlight{
font-family:verdana, sans-serif;
	font-size:x-small;
	color:#000000;
	text-align: left;
	padding:4px;
	vertical-align: middle;
	border: 0px none;
	background-color: rgba(207,207,207,0.777);/*#cfcfcf;*/
	border-color:grey;

}
.rien {
border-style:solid;
border-width:0px;
border-color:black;
background-color:transparent;
}
rien.rien2 {
background-color:#FFFFCC;
}
td.td2{
font-family:verdana, sans-serif;
/*font-size:small;*/
color:#000000;
text-align:center;
background-color:#99DEFF;
border-color:transparent;
border-style:solid;
border-width:0px;
padding:0;
}
td.td3{
font-family:verdana, sans-serif;
	font-size:x-small;
	color:#000000;
	text-align: left;
	padding:4px;
	vertical-align: middle;
	border: 0px none;
}
.td2montant{
background-color:#CAE3FF;
border-color:transparent;
}

.td3{
font-family:verdana, sans-serif;
font-size:small;
color:#000000;
text-align:left;
background-color:#CC6633;
border-color:transparent;
border-style:solid;
border-width:0px;
padding:0;
}
.td4{
font-family:verdana, sans-serif;
font-size:small;
color:#000000;
text-align:left;
background-color:transparent;
}

.boiteaction {
	background-color:#F3FFDD;
	width:100%;/*ba*/
	text-align:center;

}

.tdgraph{
font-family:verdana, sans-serif;
font-size:small;
color:#000000;
text-align:left;
background-image:url(../image/fond.gif);
border-color:transparent;
border-style:solid;
border-width:1px;
padding:0;
}

.titretableau {
	background-color: #93C4D7;
   color: #000000;
}

caption {
	background-color: #93C4D7;
	 font-size:medium;
	 color:green;
	 font-weight: bold;
	 text-align:center;
}

td.texte0 {
	background-color: rgba(202,227,255,0.5);/*#CAE3FF;*/
	text-align: left;
	color:#000066;
}
tr.texte0 {
	background-color: rgba(202,227,255,0.5);/*#CAE3FF;*/
	text-align: left;
	border-width:0px;
	border-left:thin solid black;
	color:#000066;
}

td.nombre0 {
	background-color: rgba(202,227,255,0.5);/*#CAE3FF;*/
	text-align: right;
	color:#000066;
}

td.install {
	background-color: #bbbbbb;
	text-align: right;
	width: 150px;
}

td.texte1 {
	background-color: rgba(140,203,255,0.5);/*#8CCBFF;*/
	text-align: left;
	color:#000066;
}
tr.texte1 {
	background-color: rgba(140,203,255,0.5);/*#8CCBFF;*/
	text-align: left;
	border-width:1px;
	color:#000066;
}
td.nombre1 {
	background-color: rgba(140,203,255,0.5);/*#8CCBFF;*/
	text-align: right;
	color:#000066;
}

td.c.texte0,td.c.texte1{text-align: center; !important}/*action*/

th {
	background-color: #9AE6FE;
	color:red;
	font-weight: bold;
	text-align: center;

}
th a:link{
	background-color: #9AE6FE;
	color:red;
	font-weight: bold;
	text-align: center;

}
th a:visited{
	background-color: #9AE6FE;
	color:red;
	font-weight: bold;
	text-align: center;

}
th a:hover{
	background-color: #9AE6FE;
	color:red;
	font-weight: bold;
	text-align: center;

}
.submit {
	background-color: #93C4D7;
	color:red;
	font-weight: bold;
	text-align: center;
}

.totaltexte {
font-size:small;
	background-color: #9AE6FE;
	color:red;
	font-weight: bold;
}

.totalmontant {
font-size:small;
	color:red;
	font-weight: bold;
text-align:right;
	background-color: #9AE6FE;
}
.boiteaction td, form, input {
 /*padding: 0;*/
 margin: 0;
}
/***** menu CSS *****/
@media print {
/*A l'impression on cache le menu, marche au moins pour IE, Moz et Opéra.*/
	.menu, .ssmenu,h1 {
		display: none;
	}
}

.menu, .ssmenu {
/* Il est important de laisser une largeur, au cas où le Javascript soit désactivé.
margin aussi */
	background-color:#AA8922;
	font-size:12px;
	font-weight:bold;
	color:#ffffcc;
	border:0px solid #EFB;
	color:white;
	width:150px;
	padding:2px;
	margin:1em;
}

.menu {
	text-align:center;
	background:#93C4D7;
	border-color:#004455;

}
.ssmenu {
	background:#93C4D7;
	border-color:#ABCDEF;
}

.menu span, .ssmenu span {
/* pour cacher les ; en fin de <li>, ce qui permet aux synthèse vocales de prendre une
	pause dans l'élocution */
	display:none;
}

.ssmenu ul, .ssmenu li {
/* Les items (les <li>) des sous-menus, notamment pour enlever les puces des liste */
	padding:0;
	margin:0;
	list-style-type:none;
}

.menu a:link, .ssmenu a:link, .menu a:visited, .ssmenu a:visited {
/* Les liens qui ne sont pas sous le curseur. */
	font-family:MS Sans Serif, sans-serif, Verdana, Arial;
	text-decoration:none;
	color:#FEB;
	padding:2px 0px;
/* Ne pas modifier le block */
	display:block;
/*	Un width:100% fait planter Mozilla, sans le width:100% c'est IE et Opera... La combinaison
	aucun width et height:100% marche sur tous, donc ne pas toucher ces 2 lignes */
	height:100%;
	margin:0px;
	margin:0px;
/*	width:100%;*/
	voice-family: "\"}\"";
	voice-family:inherit;
}
.menu a, .ssmenu a, .menu a:visited, .ssmenu a:visited {
	width :auto;
}

.ssmenu ul:hover, .ssmenu a:hover, .ssmenu a:focus, .menu a:hover, .menu a:focus {
/* Les liens sous le curseur.
	On change les couleurs du texte et de fond, et on enlève le soulignement.
	*/
	background-color:#BEF;
	color:#034;
	text-decoration:none;
	}



/*
Bref... pour résumer, ce qu'il y a à modifier à la base, c'est :
- couleurs, police, bordure et largeur des menu et ssmenu.
- l'effet spécial IE pour les ssmenu
- police et couleurs des liens "non survolés" et "survolés".
*/
