body{
	/*background-color:#aaa;#272727#abcdef#207207 #c10;   200007fedtransparent#bfbfbf;*/
	text-align: center;
font-size:small;
color:black;
	}
img{
border: none;
margin: 0;
border-radius: 9px;
}		
	
.input{ 
background-color: #ffefd5 ; 
font-family: arial, helvetica, sans-serif ; 
color: red ;
}

option{ 
background-color: #ffefd5 ;
cursor: pointer;
 
}
submit{
background-color: transparent; 
}
select{ 
background-color: #fff; /*#ffefd5*/
}

.textarea{ 
background-color: #ffefd5 ; 
color: red ; 
}

td > a > img, input[type="image"]{
 /*margin-right:-8px !important;*/
}

.left50{float:left;width:50%;} 

 
.libelle {
	background-color: #CAE3FF;
	text-align: left;
	}


table {
border-color:black;
border-style:solid;
border-width:0px;
text-align:center;
border-spacing: 1px 1px;
border: 1px;
border-radius: 9px;
table-layout: auto;
caption-side: top;
border: thin solid #000000 ;

}
td {
	font-family:verdana, sans-serif;
	font-size:x-small;
	color:#000000;
	text-align: left;
	padding:4px;
	vertical-align: middle;
	border: 0px;
 border-radius: 9px;
}
td.highlight {
	
	color:#000000;
	text-align: left;	
}
/*//#efefef;*/

td.page{
text-align:center;
border: 1px ;

}
table.page {
border-style:solid;
border-width:1px;
border-spacing: 0px ;
border:thin solid #BBBBBB;
text-align:center;
}
	
h1 {
font-family:arial, sans-serif;
font-size:small;
color:red;
background-color:transparent;
text-align:center;
font-weight: bold;
}
h2 {
font-family:arial, sans-serif;
font-size:medium;
color:green;
background-color:transparent;
text-align:center;
}
h3 {
font-family:verdana, sans-serif;
font-size:large;
color:black;
background-color:transparent;
text-align:center;
font-weight: bold;
}

h4 {
font-family:verdana, sans-serif;
font-size:large;
color:black;
background-color:transparent;
text-align:center;
}

h5 {
font-family:verdana, sans-serif;
font-size:medium;
color:black;
background-color:transparent;
text-align:center;
	font-weight: bold;
}

h6 {
font-family:verdana, sans-serif;
font-size:medium;
color:black;
background-color:transparent;
text-align:center;
}

p {
font-family:verdana, sans-serif;
font-size:small;
color:green;
background-color:transparent;
text-align:center;
margin-left:0px;
margin-right:0px;
}
li {
font-family:verdana, sans-serif;
font-size:small;
color:black;
background-color:transparent;
text-align:center;
margin-left:0px;
margin-right:0px;
}
a:link {
font-family:verdana, sans-serif;
font-size:small;
color:blue;
background-color:transparent;
text-decoration:underline;
}
a:visited {
font-family:verdana, sans-serif;
font-size:small;
color:black;
background-color:transparent;
text-decoration:underline;
}
a:hover {
font-family:verdana, sans-serif;
font-size:small;
color:navy;
background-color:transparent;
text-decoration:underline;
}
.tbrien {
border-color:black;
border-style:solid;
border-width:0px;
text-align:left;
border-spacing: 1px 
}

tr {
	font-family:verdana, sans-serif;
	font-size:x-small;
	color:#000000;
	vertical-align: middle;
	border: 0px;
	background-color:rgba(207,207,207,0.207);/*#ffffee;*/
	
}
tr.highlight{
font-family:verdana, sans-serif;
	font-size:x-small;
	color:#000000;
	border: 0px ;
 background-color: rgba(207,207,207,0.41);/*#cfcfcf;*//*background-color: rgba(255,255,255,0.27);#bfbfbf;*/
	border-radius: 9px;
	
}
.rien {
border-style:solid; 
border-width:0px; 
border-color:black; 
background-color:transparent;
}
rien.rien2 {
background-color:#FFFFCC;
}

td.td2{
font-family:verdana, sans-serif;
/*font-size:small;*/
color:#000000;
text-align:center;
background-color:rgba(252,252,252,0.41);/*#DDDDDD;*/
border-color:transparent;
border-style:solid;
border-width:0px;
padding:0;
}

td.td3{
font-family:verdana, sans-serif;
	font-size:x-small;
	color:#000000;
	text-align: left;
	padding:4px;
	vertical-align: middle;
	border: 0px none;
}
.td2montant{
background-color:rgba(241,241,241,0.241);/*#ffffee;*/
border-color:transparent;
}

.td3{
font-family:verdana, sans-serif;
font-size:small;
color:#000000;
text-align:left;
background-color:#CC6633;
border-color:transparent;
border-style:solid;
border-width:0px;
padding:0;
}
.td4{
font-family:verdana, sans-serif;
font-size:small;
color:#000000;
text-align:left;
background-color:transparent;
}

.boiteaction {
	/*background-color:#F3FFDD;*/
	width:100%;/*ba*/
	text-align:center;
	border:1px;
	

}

.tdgraph{
font-family:verdana, sans-serif;
font-size:small;
color:#000000;
text-align:left;
background-image:url(../image/fond.gif);
border-color:transparent;
border-style:solid;
border-width:1px;
padding:0;
}

.titretableau {
	background-color: #93C4D7;
   color: #000000;
}

caption {
 background-color: #b62819;
 font-size:medium;
 color:#fff;
 font-weight: bold;
 text-align:center;
 border-radius: 9px;
 border-width:1px;
}

td.texte0 {
	background-color: rgba(207,207,207,0.207);/*#ffffee;*/
	text-align: left;
}
tr.texte0 {
	background-color: rgba(217,217,217,0.217);/*#ffffee;*/
	text-align: left;
	border-width:0px;
	border-left:thin solid black;
}

td.nombre0 {
	background-color: rgba(207,207,207,0.207);/*#ffffee;*/
	text-align: right;
}

td.install {
	background-color: #bbbbbb;
	text-align: right;
	width: 150px;
}

td.texte1 {
	background-color: rgba(227,227,227,0.207);/*#ffffee;*/
	text-align: left;
}
tr.texte1 {
	background-color: rgba(237,237,237,0.217);/*#ffffee;*/
	text-align: left;
	border-width:1px;
}
td.nombre1 {
	background-color: rgba(227,227,227,0.207);/*#ffffee;*/
	text-align: right;
}

td.c.texte0,td.c.texte1{text-align: center; !important}/*action*/

th {
	background-color: rgba(247,247,247,0.72);/*#ddd;*/
 border-radius: 9px/* 9px 0 0*/;
	color:red;
	font-weight: bold;
	text-align: center;
}
th a:link{
	background-color: transparent;
	color:red;
	font-weight: bold;
	text-align: center;
}
th a:visited{
	background-color: transparent;
	color:red;
	font-weight: bold;
	text-align: center;

}
th a:hover{
	background-color: transparent;
	color:red;
	font-weight: bold;
	text-align: center;
}
.submit {
	background-color: #b62819;
 border-radius: 0 0 9px 9px;
	color:#fff;
	font-weight: bold;
	text-align: center;
}

.totaltexte {
font-size:small;
	background-color:rgba(252,252,252,0.41);/*#DDDDDD;*/
	color:red;
	font-weight: bold;
}

.totalmontant {
font-size:small;
	color:red;
	font-weight: bold;
text-align:right;
	background-color:rgba(252,252,252,0.41);/*#DDDDDD;*/
}	
.boiteaction td, form, input {
 /*padding: 0;*/
 margin: 0;
} 
/***** menu CSS *****/
@media print {
/*A l'impression on cache le menu, marche au moins pour IE, Moz et Opéra.*/
	.menu, .ssmenu,h1 {
		display: none;
	}
}

.menu, .ssmenu {
/* Il est important de laisser une largeur, au cas où le Javascript soit désactivé.
margin aussi */
	background-color:#b62819;
	font-size:12px;
	font-weight:bold;
	color:#ffffee;
	border:0px solid rgba(207,207,207,0.207);/*#ffffee;*/
	color:white;
	width:150px;
	padding:2px;
	margin:1em;
}

.menu {
	text-align:center;
	background:#b62819;
	border-color:rgba(207,207,207,0.207);/*#ffffee;*/
	
}
.ssmenu {
	background:#b62819;
	border-color:rgba(207,207,207,0.207);/*#ffffee;*/
}

.menu span, .ssmenu span {
/* pour cacher les ; en fin de <li>, ce qui permet aux synthèse vocales de prendre une
	pause dans l'élocution */
	display:none;
}

.ssmenu ul, .ssmenu li {
/* Les items (les <li>) des sous-menus, notamment pour enlever les puces des liste */
	padding:0;
	margin:0;
	list-style-type:none;
}

.menu a:link, .ssmenu a:link, .menu a:visited, .ssmenu a:visited {
/* Les liens qui ne sont pas sous le curseur. */
	font-family:MS Sans Serif, sans-serif, Verdana, Arial;
	text-decoration:none;
	color:#fff;
	padding:2px 0px;
/* Ne pas modifier le block */
	display:block;
/*	Un width:100% fait planter Mozilla, sans le width:100% c'est IE et Opera... La combinaison
	aucun width et height:100% marche sur tous, donc ne pas toucher ces 2 lignes */
	height:100%;
	margin:0px;
	margin:0px;
/*	width:100%;*/
	voice-family: "\"}\"";
	voice-family:inherit;
}
.menu a, .ssmenu a, .menu a:visited, .ssmenu a:visited {
	width :auto;
}

.ssmenu ul:hover, .ssmenu a:hover, .ssmenu a:focus, .menu a:hover, .menu a:focus {
/* Les liens sous le curseur.
	On change les couleurs du texte et de fond, et on enlève le soulignement.
	*/
	background-color:rgba(207,207,207,0.207);/*#ffffee;*/
	color:#034;
	text-decoration:none;
	}


	
/*
Bref... pour résumer, ce qu'il y a à modifier à la base, c'est :
- couleurs, police, bordure et largeur des menu et ssmenu.
- l'effet spécial IE pour les ssmenu
- police et couleurs des liens "non survolés" et "survolés".
*/
